@import "neat/neat-helpers";

// Overrides Neat's default
$gutter: golden-ratio(1em, 1);
$max-width: em(1200);

//$column: 90px;
//$gutter: 30px;
//$grid-columns: 10;


// Media queries breakpoints
$mobile:    480px;
$tablet-sm: 768px;
$tablet:    992px;
$desktop:   1200px;