
// Mobile styles
@media (max-width: $mobile) {
header {
    @include hw_accelerate;
    padding: ($pad / 2) 0;
    .logo {
        float: none;
        width: 62%;
        margin: auto;
        
        &-symbol {
            width: 26%;
        }
        &-name {
            margin-top: 8px; 
        }
    }
    &.fixed {
        @include hw_accelerate;
        padding: 0;
        .logo {
            float: none;
            width: 54%;
            margin: auto;
            margin-top: 8px;
        }
    }
    nav {
        position: absolute;
        top: 0;
        left: 0; right: 0;
        width: 100%;
        float: none;
        margin: 0;
        
        ul { 
            position: relative; 
            
            &.open {
                li {
                    @include transform(translate(-54px,0));     
                }
            }
        }
        li {
            display: block;
            @include transition(all .18s ease-in-out);
            
            &:nth-child(1) { 
                @include transform(translate(174px,0)); 
                @include transition-delay(0);    
            }
            &:nth-child(2) { 
                @include transform(translate(240px,0)); 
                @include transition-delay(.06s);
            }
            &:nth-child(3) { 
                @include transform(translate(230px,0)); 
                @include transition-delay(.1s);
            }
            &:nth-child(4) { 
                @include transform(translate(360px,0)); 
                @include transition-delay(.14s);
            }
            a {
                font-size: 36px;
                padding: 4px 30px;
                margin-bottom: -2px;
                background: #fff;
            }
        }
        .nav-toggle {
            position: absolute;
            right: 18px;
            top: 10px;
            display: block;
            width: 28px;
            height: 28px;
            background: url('../imgs/menu.svg') no-repeat;
            background-size: 100%;
            background-position: center center;
            cursor: pointer;
            
            &.close {
                background: url('../imgs/close.svg') no-repeat;    
            }
        }
    }
    
    .header-fixed-background {
        @include hw_accelerate;
        $top: 74px;
        top: -$top;
        height: $top;
    }
} // @end header

blockquote {
    float: none;
    width: 100%;
    text-align: center;
    padding: 0 42px;
}

.where {
    padding: 10px 0 32px 0;
    margin-top: 16px;
    background-size: auto 100%;
    &-city {
        font-size: 22px;
    }
    
    .btn-large {
        @include transform(scale(.8));
        margin-top: 0;
        
        &:hover,&:focus {
            @include transform(scale(.9));
        }
    }
}
.sponsor {
    min-height: auto;
}
.motivation {
    padding: 0;
    article {
        width: 80%;
        float: none;
        padding: 0;
        margin: 0 8%;
        padding: 24px 0;
        min-height: auto;
        border: none;
        border-bottom: 1px solid rgba(#fff,.16);
        
        &:last-child { border-bottom: none; }
    }
}

.overlay {
    @include opacity(0);
    @include transition(all .18s ease-in-out);
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(#000,.6);
    visibility: hidden;
    
    &-show {
        .overlay {
            @include opacity(1);
            visibility: visible;
        }
        header.fixed {

        }
    }
}

}

@media (max-width: $mobile-sm) {
header {
    .logo {
        width: 80%;
        &-name {
            margin-top: 4px;
        }
    }
    
    &.fixed {
        .logo {
            width: 82%;
            
            &-name {
                margin-top: 0;
            }
        }
    }
}
blockquote {
    font-size: 13px;
    padding: 0 24px;
}
.where {
    margin-top: 10px;
    background-position: center bottom;
    
    &-city {
        font-size: 18px;
    }
}
}