@import 'bourbon/bourbon';
@import "grid-settings";
@import 'neat/neat';
@import 'normalize'; 

@import 'mixins';

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300');

$c-color1:  #36aac8; // light blue
$c-color2:  #364549; // dark blue

$pad: 24px;

html,body { height: 100%; }
body {
    font-family: 'Open Sans',sans-serif;
    font-size: 100%;
    color: $c-color2;
    background: #fff;
    -webkit-tap-highlight-color: rgba(#000, 0);
}
a {  
    color: #fff; 
    text-decoration: none;
}

@include selection {
    background-color: $c-color2;
}

.wrap {
    @include clearfix;
    @include outer-container;    
}

header { 
    @include clearfix;
    z-index: 2;
    position: relative;
    padding: ($pad / 2) 0;
    
    @media (min-width: $tablet-sm)  { padding: ($pad - 8) $pad ($pad * 2) $pad; }
    @media (min-width: $desktop)    { padding: ($pad - 8) 0 ($pad * 2) 0; }
    
    .wrap {
        position: relative;
    }
    
    .logo {
        @include clearfix;
        @include hw_accelerate;
        @include transition(all .14s ease-out);
        
        $symbol_width: 25%;
        $symbol_pad: 5%;
        position: relative;
        float: none;
        width: 62%;
        margin: auto;
        font-weight: 400;
        
        &-symbol {
            position: relative;
            display: block;
            float: left;
            width: $symbol_width;
            line-height: 1;
            padding-right: $symbol_pad;
            margin-right: $symbol_pad;
            border-right: 1px solid $c-color1;
            .svg {
                @include transition(all .1s ease-out);
                @include hw_accelerate;
                width: 100%;
            }
        }
        &-name {
            position: relative;
            display: block;
            float: left;
            margin-top: 12px;
            width: (100% - ($symbol_width + ($symbol_pad * 2)));
            
            .svg {
                width: 100%;     
            }
        }
        
        @media (min-width: $tablet-sm) {
            float: left;
            width: 42%;
            margin: 0;
            &-name { margin-top: 5px; }
        }
        @media (min-width: $tablet) { 
            width: 34%; 
            &-name { margin-top: 10px; }
        }
        @media (min-width: $desktop) { 
            &-name { margin-top: 22px; }
        }
    }
    nav { display: none; }
    
    
    $top_mobile: 74px;
    $top_desktop: 78px;
    
    .header-fixed-background {
        @include hw_accelerate;
        @include transition(all .16s ease-out);
    
        position: absolute;
        top: -$top_mobile;
        left: 0;
        right: 0;
        height: $top_mobile;
        background: rgba(#fff,.98);

        @media (min-width: $desktop) {
            top: -$top_desktop;
            height: $top_desktop;            
        }
    }

    &.fixed {
        @include hw_accelerate;
        position: fixed;
        top: 0;
        width: 100%;
        padding: 0 $pad; 
        
        .logo {
            @include transform(scale(.9));
            z-index: 3;
            float: none;
            width: 54%;
            margin: auto;
            margin-top: 8px;
            &-name { margin-top: 2px; }
        }
        
        blockquote { display: none; }
        
        nav { 
            z-index: 3;
            display: block; 
        }
        
        .header-fixed-background { 
            top: 0;
        }

        @media (min-width: $tablet-sm) {
            .logo {
                @include transform(scale(.8));
                float: left; 
                width: 44%;
                margin-top: 4px;
                margin-left: -34px;
                &-name { margin-top: 10px; }
            }
        }
        @media (min-width: $tablet) {
            .logo { 
                width: 30%; 
                &-name { margin-top: 5px; }
            }
        }
        @media (min-width: $desktop) { 
            padding: 0; 
            .logo {
                @include transform(scale(.7)); 
                margin-top: 0;
                margin-left: -($pad * 2);
                &-name { margin-top: 14px; }
            }
        }
    } // @end header fixed
    
    nav {
        position: absolute;
        top: 0;
        left: 0; right: 0;
        width: 100%;
        float: none;
        margin: 0;
        
        @media (min-width: $tablet-sm) {
            position: relative;
            float: right;
            width: 52%;
            margin-top: 22px;
        }
        ul {
            z-index: 98;
            position: relative;
            text-align: right;
            margin-top: ($top_mobile - 10);
            
            @media (min-width: $tablet-sm) { margin-top: 0; }
            
            &.open {
                li {
                    @include transform(translate(0,0)); 
                    @media (min-width: $tablet-sm) { @include transform(translate(0,0)); }
                }
            }
        }
        li {
            display: block;
            @include transition(all .18s ease-in-out);
            
            &:nth-child(1) { 
                @include transform(translate(106%,0)); 
                @include transition-delay(0);    
            }
            &:nth-child(2) { 
                @include transform(translate(106%,0)); 
                @include transition-delay(.06s);
            }
            &:nth-child(3) { 
                @include transform(translate(106%,0)); 
                @include transition-delay(.1s);
            }
            &:nth-child(4) { 
                @include transform(translate(106%,0)); 
                @include transition-delay(.14s);
            }
            
            @media (min-width: $tablet-sm) { 
                display: inline-block; 
                &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4) { @include transform(translate(0,0)); }
            }
            
            a {
                @include transition(all .12s ease-out);
                display: block;
                color: $c-color1;
                font-size: 36px;
                font-weight: 600;
                text-transform: uppercase;
                border: 2px solid $c-color1;
                padding: 4px 30px;
                margin-bottom: -2px;
                background: #fff;
                
                @media (min-width: $tablet-sm) {
                    display: inline-block;
                    font-size: 14px;
                    padding: 4px 10px;
                    margin-bottom: 0;
                }
                &:hover,&:focus {
                    color: #fff;
                    background: $c-color1;
                }
            }
        }
        .nav-toggle {
            @include transition(all .1s ease-out);
            z-index: 99;
            position: absolute;
            right: 18px;
            top: 18px;
            display: block;
            width: 22px;
            height: 22px;
            background: url('../imgs/menu.svg') no-repeat;
            background-size: 100%;
            background-position: center center;
            cursor: pointer;
            
            &:hover,&:focus {
                @include transform(scale(1.2));
            }
            
            &.close {
                width: 18px;
                height: 18px;
                background: url('../imgs/close.svg') no-repeat;    
            }
            
            @media (min-width: $tablet-sm) { display: none; }
        }    
    } // @end header nav
} // @end header

blockquote {
    position: relative;
    top: 14px;
    float: none;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 1.1;
    margin: 4px 0 0 0;
    padding: 0 42px;
    
    @media (min-width: $tablet-sm) {
        float: right;
        width: 48%;
        text-align: right;
        padding: 0;
    }
    @media (min-width: $tablet) { width: 30%; }
    @media (min-width: $desktop) { margin-top: 14px; }
    
    sup {
        top: 0;
        font-size: 18px;
        font-weight: 800;
        line-height: 1;
    }
    
    cite {
        display: block;
        clear: both;
        font-size: 12px;
        color: lighten($c-color2,46%);
        margin-top: 8px;
    }
}
.where {
    @include transition(all .42s ease-in-out);
    z-index: 1;
    position: relative;
    top: -1px;
    color: #fff;
    text-align: center;
    padding: 10px 0 32px 0;
    margin-top: 16px;
    background: #fff url('../imgs/beach.jpg') no-repeat center center;
    background-size: auto 100%;
    
    @media (min-width: $tablet-sm) {
        padding: 12px 0 42px 0;
        margin: 0;
        background-size: 100% auto;
    }
    @media (min-width: $desktop) { padding: 32px 0 52px 0; }
    
    &.hover {
        //background-position: center bottom;
        .where-city {
            text-shadow: 1px 1px 0 rgba(#fff,.6);
        }
    }
    
    &-city {
        color: $c-color2;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 22px;
        margin: 0 0 10px 0;
        
        @media (min-width: $tablet-sm) { font-size: 28px; }
    }
    &-icon {
        width: 20px;
        margin: auto;
    }
    &-place {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
        margin-top: -6px;
        text-shadow: 1px 1px 0 rgba(#000,.4);
    }
    &-address {
        color: #fff;
        font-size: 16px;
        font-style: normal;
        margin-bottom: 14px;
        text-shadow: 1px 1px 0 rgba(#000,.4);
    }
    .btn-large { 
        @include transform(scale(.8));
        margin-top: 0; 
        
        @media (min-width: $tablet-sm) {
            @include transform(scale(1));
            margin-top: 14px;
        }
    }
} // @end where
.btn-large {
    @include transition(all .08s ease-out);
    position: relative;
    display: inline-block;
    font-size: 20px;
    border: 3px solid #fff;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	background: none;
	padding: 18px 80px 14px 80px;
	cursor: pointer;
    
    &:hover,
    &:active {
        @include transform(scale(.9));
    	color: $c-color1;
    	background: #fff;
    	
    	@media (min-width: $tablet-sm) { @include transform(scale(1.1)); }
    }
}
.sponsor {
    @include clearfix;
    z-index: 1;
    position: relative;
    min-height: auto;
    padding: 30px 0;
    background: #fff;
    
    .supporters-small {
        text-align: center;
        img {
            height: 1.6em;
        }   
    }
    @media (min-width: $tablet-sm) { min-height: 120px; }
}
.motivation {
    @include clearfix;
    z-index: 1;
    position: relative;
    padding: 24px 0;
    background: $c-color2;
    
    article {
        @include span-columns(4);
        min-height: 124px;
        font-size: 14px;
        color: #fff;
        text-align: center;
        padding: 14px;
        border-right: 1px solid rgba(#fff,.16);
        &:last-child { border-right: none; }
        &:nth-child(4n+1) { clear: left; }
        
        @media (min-width: $desktop) { min-height: 108px; }
    }
}
.spearkers-form {
    z-index: 1;
    position: relative;
}

footer {
    font-size: 14px;
    color: #888;
    text-align: center;
    padding: 24px 34px;
    
    a {
        color: $c-color1;
        text-decoration: underline;
    }
}


.overlay {
    @include opacity(0);
    @include transition(all .18s ease-in-out);
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(#000,.7);
    visibility: hidden;
    
    &-show {
        .overlay {
            @include opacity(1);
            visibility: visible;
        }
        header.fixed {
            z-index: 3;
        }
    }
}


.pull-right     { float: right; }
.pull-left      { float: left; }
.text-left      { text-align: left; }
.text-right     { text-align: right; }
.text-center    { text-align: center; }

@import 'mobile';