@import url("http://fonts.googleapis.com/css?family=Montserrat:700|Merriweather:400,400italic");
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  font-family: 'Merriweather', serif; }

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', serif; }

a {
  color: #38ABC8;
  text-decoration: none; }

dt {
  margin-top: 25px; }

.page {
  padding: 0 55px; }
  .page .meta dl {
    margin-left: 35px; }
    .page .meta dl dd {
      margin-left: 0; }

hr {
  border: 2px solid white;
  width: 150px; }

.promovideo {
  height: 125px; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.nav-logo span {
  display: none; }

.pure-menu {
  padding-bottom: 0;
  padding-top: 0; }

.o-content {
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 80px; }

@media screen and (max-width: 62em) {
  .o-content {
    top: 55px; } }
.c-header {
  background-color: white;
  position: relative;
  white-space: nowrap;
  width: 100%;
  z-index: 1; }

@media screen and (max-width: 62em) {
  .c-header {
    height: 55px; } }
.c-header__brand {
  display: inline-block;
  height: 80px;
  margin-right: 50px;
  vertical-align: middle;
  width: auto; }

@media screen and (max-width: 62em) {
  .c-header__brand {
    display: block;
    height: 55px;
    margin-right: 0; } }
.c-header__brand__logo {
  background: url("/media/mediterraneajs.png") no-repeat center;
  background-size: 100%;
  display: block;
  height: 80px;
  width: 250px; }
  .c-header__brand__logo span {
    display: none; }

@media screen and (max-width: 62em) {
  .c-header__brand__logo {
    background: url("/media/sunjs.png") no-repeat center;
    background-size: 53px 53px;
    height: 55px;
    margin: auto;
    width: 100%; } }
.c-header__toggle {
  display: none;
  float: right;
  height: 44px;
  margin-top: 7px;
  position: relative;
  width: 44px; }

@media screen and (max-width: 62em) {
  .c-header__toggle {
    display: block; } }
.c-header__toggle__bar {
  background-color: #38ABC8;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 25px;
  right: 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.c-header__toggle__bar:first-child {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px); }

.is-open .c-header__toggle .c-header__toggle__bar {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.is-open .c-header__toggle .c-header__toggle__bar:first-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.c-header__navigation {
  background-color: white;
  display: inline; }

@media screen and (max-width: 62em) {
  .c-header__navigation {
    display: none; }
    .is-open .c-header__navigation {
      display: block;
      overflow-x: scroll; }
    .is-open .c-header__navigation::-webkit-scrollbar {
      display: none; } }
.c-header__navigation__links {
  vertical-align: text-top; }

@media screen and (max-width: 62em) {
  .c-header__navigation__item {
    padding-top: 16px; } }
.c-header__navigation__item a {
  border-bottom: 9px solid transparent;
  color: #38ABC8;
  font-family: 'Montserrat', serif;
  font-size: 12px;
  padding-bottom: 15px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased; }

.c-header__navigation__item a:hover,
.c-header__navigation__item a.active {
  background-color: white;
  border-bottom-color: #38ABC8; }

.c-header__brand .pure-menu-link,
.c-header__brand .pure-menu-heading {
  color: #38ABC8; }

.page img {
  width: 100%; }

.walking {
  height: 32px;
  background: white url("/media/walking.png") no-repeat;
  background-size: 30px;
  padding-left: 35px; }

.hotel img {
  width: 100%;
  max-height: 200px; }

section .inner {
  padding: 5px; }
section h2 {
  padding: 0;
  margin: 0 0 10px;
  line-height: 120px; }
section h2 span {
  padding-bottom: 15px;
  text-transform: uppercase; }

.dark {
  color: white; }
  .dark h2 {
    color: white; }
  .dark h2 span {
    border-bottom: 3px solid white; }

.bright {
  color: #374548; }
  .bright h2 {
    color: #374548; }
  .bright h2 span {
    border-bottom: 3px solid black; }

#intro {
  background: url("/media/background_triangle/triange_blue.svg") repeat center;
  color: white;
  text-align: center; }
  #intro a {
    color: white; }
  #intro .header {
    z-index: 99999; }
    #intro .header h1 {
      text-transform: uppercase;
      margin-left: 0; }
    #intro .header p {
      margin-left: 0; }
  #intro h2 {
    line-height: 1.2em;
    margin: 0;
    text-transform: uppercase; }
  #intro .address a,
  #intro .address span {
    font-family: 'Merriweather', serif;
    font-style: italic; }
  #intro .address div {
    display: inline; }
  #intro .buy-tickets {
    font-family: 'Montserrat', serif;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 125%;
    border: 1px solid white;
    padding: 15px;
    background: transparent;
    text-transform: uppercase; }
  #intro .buy-tickets:hover {
    background: white;
    color: #38ABC8; }

#speakers {
  background: #374548;
  padding-bottom: 50px; }
  #speakers .speaker {
    padding-left: 5px;
    width: 150px;
    height: 280px;
    float: left; }
  #speakers .speakers {
    margin-top: 40px;
    margin-bottom: 70px; }
  #speakers .person {
    color: white;
    text-decoration: none;
    width: 200px; }
  #speakers .person:hover {
    text-decoration: none;
    color: #38ABC8; }
  #speakers .portrait {
    height: 150px; }
  #speakers img {
    width: 150px;
    height: 150px;
    -webkit-filter: grayscale(1);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='gs'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#gs");
    -webkit-filter: gray;
            filter: gray; }
  #speakers .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 58px 30px;
    border-color: transparent transparent rgba(56, 171, 200, 0.7) transparent;
    position: relative;
    top: -63px;
    right: -120px; }
  #speakers .meta h3 {
    margin-bottom: 0; }
  #speakers .meta p {
    margin-top: 5px;
    font-size: 12px;
    font-style: italic; }

.page .person {
  color: white;
  text-decoration: none;
  width: 200px;
  margin: 35px auto 0; }
.page .person:hover {
  text-decoration: none;
  color: #38ABC8; }
.page .portrait {
  height: 150px; }
.page img {
  width: 150px;
  height: 150px;
  -webkit-filter: grayscale(1);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='gs'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#gs");
  -webkit-filter: gray;
          filter: gray; }
.page .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 58px 30px;
  border-color: transparent transparent rgba(56, 171, 200, 0.7) transparent;
  position: relative;
  top: -63px;
  right: -120px; }

#event {
  background: url("/media/background_triangle/triange_blue.svg");
  background-size: cover; }
  #event #about {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 150px;
    background: white url("/media/square.png") no-repeat;
    background-position: 50% 10px;
    background-size: 150px;
    text-align: center; }
  #event #sunjs {
    display: none;
    background: url("/media/sunjs_white.png") no-repeat;
    background-size: 100%;
    background-position: 50%; }

#venue {
  background: url("/media/borncc.jpg") no-repeat;
  background-size: cover;
  height: 500px; }
  #venue .content {
    background: rgba(0, 0, 0, 0.5);
    height: 500px;
    padding: 0 4.1667%; }
  #venue #map {
    display: none; }

#schedule article {
  background: url("/media/background_triangle/triangulos_darkgray.svg");
  background-size: 2000px;
  height: 430px; }
#schedule .schedule-saturday {
  color: white;
  background: #374548;
  min-height: 385px; }
#schedule .schedule-sunday {
  color: white;
  background: #38ABC8;
  min-height: 385px; }
  #schedule .schedule-sunday .circle-text:after {
    background: #374548; }
#schedule .schedule-monday {
  color: white;
  background: #374548;
  min-height: 385px; }
#schedule .schedule-tuesday {
  color: white;
  background: #38ABC8;
  min-height: 385px; }
  #schedule .schedule-tuesday .circle-text:after {
    background: #374548; }
#schedule .circle-text {
  width: 50%; }
#schedule .circle-text:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: #38ABC8;
  border-radius: 50%;
  margin-left: 50%; }
#schedule .circle-text h4 {
  float: left;
  width: 100%;
  margin-left: 50%;
  padding-top: 30%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 26px; }
#schedule .number {
  display: block;
  margin-top: 20px;
  font-size: 70px; }
#schedule ul {
  list-style: none;
  padding-left: 0; }

#sponsors-banner ul {
  padding-left: 0;
  list-style-type: none;
  text-align: center; }
  #sponsors-banner ul li {
    display: inline-block;
    height: 75px;
    width: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 25px; }
    #sponsors-banner ul li a {
      display: block;
      height: 75px;
      color: black;
      border: 0;
      background-size: 75px;
      background-position: center;
      background-repeat: no-repeat; }
    #sponsors-banner ul li span {
      display: none; }
#sponsors-banner ul li:last-child {
  margin-right: 0; }

#sponsors {
  background-color: #F2F2F2;
  padding-bottom: 25px; }
  #sponsors ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center; }
    #sponsors ul li {
      display: inline-block;
      height: 200px;
      width: 200px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 50px; }
      #sponsors ul li a {
        display: block;
        height: 200px;
        color: black;
        border: 0;
        background-size: 200px;
        background-position: center;
        background-repeat: no-repeat; }
      #sponsors ul li span {
        display: none; }
  #sponsors ul li:last-child {
    margin-right: 0; }

#partners {
  background-color: #F2F2F2;
  padding-bottom: 25px; }
  #partners ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center; }
    #partners ul li {
      display: inline-block;
      height: 100px;
      width: 100px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 50px; }
      #partners ul li a {
        display: block;
        height: 100px;
        color: black;
        border: 0;
        background-size: 100px;
        background-position: center;
        background-repeat: no-repeat; }
      #partners ul li span {
        display: none; }
  #partners ul li:last-child {
    margin-right: 0; }

footer {
  padding: 4.1667%;
  color: white;
  font-size: 65%;
  background-color: #374548;
  min-height: 200px; }
  footer h5 {
    font-size: 110%; }
  footer ul {
    list-style: none;
    padding-left: 0; }
  footer div p {
    margin-left: 0; }
  footer li a,
  footer span {
    color: white;
    font-family: 'Merriweather', serif; }
  footer a:hover {
    color: #38ABC8; }
  footer .meta,
  footer .links {
    display: none; }

@media screen and (min-width: 48em) {
  .promovideo {
    height: 370px; }

  #intro {
    text-align: left;
    background: url("/media/beach.jpg") repeat-x center; }
    #intro .header {
      margin-left: 50%;
      padding-left: 25px; }

  .speakers {
    padding-left: 8.3334%; }

  #event {
    padding-left: 8.3334%; }
    #event .content {
      padding: 35px; }

  footer {
    padding: 0; }
    footer .meta,
    footer .links {
      display: block; } }
@media screen and (min-width: 64em) {
  .page {
    padding: 0 16.6667%; }

  .promovideo {
    height: 385px; }

  #intro {
    padding-top: 50px;
    padding-left: 50px;
    text-align: left;
    min-height: 500px; }
    #intro hr {
      margin-left: 0; }

  .mediterranean-menu-brand {
    margin-right: 50px; }

  .speakers {
    padding-left: 16.6667%; }

  #event {
    padding-left: 0; }
    #event #about {
      background: white;
      padding: 0;
      margin: 0 0 0 25%; }
      #event #about h2,
      #event #about p {
        margin: 15px; }
    #event #sunjs {
      display: block; }

  #venue {
    padding-left: 0; }
    #venue .content {
      margin-left: 25%;
      padding: 0; }
      #venue .content h2,
      #venue .content h3,
      #venue .content div {
        margin: 15px; }
    #venue #map {
      display: block; } }
@media screen and (min-width: 80em) {
  .promovideo {
    height: 720px; }

  #intro {
    min-height: 600px; }

  #venue .content {
    margin-left: 25%; }
    #venue .content h2,
    #venue .content p {
      padding: 25px; }

  #event #about {
    margin-left: 25%;
    text-align: left; }
    #event #about h2,
    #event #about p {
      padding: 25px; }
  #event #sunjs {
    background-size: auto;
    background-position: 50%; } }
@media screen and (max-width: 62em) {
  .mediterranean-menu-screen {
    height: 50px; }

  .mediterranean-menu-bottom {
    position: absolute;
    width: 100%;
    border-top: 1px solid #eee;
    background-color: #808080 \9;
    z-index: 100; }

  .mediterranean-menu-bottom .pure-menu-link {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.5s;
    transition: all 0.5s; } }
