@import "variables";
@import "fonts";
* {
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Merriweather', serif;
}
a {
  color: $lightblue;
  text-decoration: none;
}

.center {
  text-align: center;
}
.nav-logo span {
  display: none;
}
.pure-menu-list {
  height: 80px;
  line-height: 80px;
  vertical-align: top;
}
.pure-menu-item a {
  color: $blue;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  padding-top: 1px;
}
.nav-logo {
  display: inline-block;
  width: 250px;
  height: 80px;
  background: url("/media/mediterraneajs.png") no-repeat;
  background-size: 100%;
  background-position: center;
  margin-right: 50px;
}

.content {
  padding: 50px;
}

section {
  h2 {
    padding: 0;
    margin: 0 0 10px;
    line-height: 120px;
  }
  h2 span {
    padding-bottom: 15px;
    text-transform: uppercase;
  }
  .content {
    padding: 55px;
  }
}
.dark {
  color: white;
  h2 {
    color: white;
  }
  h2 span {
    border-bottom: 3px solid white;
  }
}
.bright {
  color: $darkblue;
  h2 {
    color: $darkblue;
  }
  h2 span {
    border-bottom: 3px solid black;
  }
}
#intro {
  color: white;
  background: url("/media/beach.jpg") repeat-x center;
  a {
    color: white;
  }
  .header {
    max-width: 600px;
    height: 420px;
    padding: 70px;
    margin-left: 50%;
    h1 {
      text-transform: uppercase;
    }
  }
  h2 {
    line-height: 1.2em;
    margin: 0;
    text-transform: uppercase;
  }
  .address {
    a, span {
      font-family: 'Merriweather', serif;
    }
    div {
      display: inline;
    }
  }
  .buy-tickets {
    margin-top: 50px;
    font-size: 125%;
    border: 1px solid white;
    padding: 15px;
    background: rgba(0,0,0,0);
    text-transform: uppercase;
  }
}

#speakers {
  background: #374548;
  padding-bottom: 50px;

  .speakers {
    margin-top: 40px;
    margin-bottom: 70px;
  }

  .person {
    color: white;
    text-decoration: none;
    width: 150px;
  }
  .person:hover {
    text-decoration: none;
    color: $lightblue;
  }
  .portrait {
    width: 150px;
    height: 150px;
  }
  img {
    width: 150px;
    height: 150px;
    -webkit-filter: grayscale(1);
    filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'gs\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#gs");
    filter:gray;
  }
  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 58px 30px;
    border-color: transparent transparent $lightblue_opaque transparent;
    position: relative;
    top: -62px;
    right: -120px;
    z-index: 99999;
  }
  .meta {
    h3 {
      margin-bottom: 0;
    }
    p {
      margin-top: 5px;
      font-size: 12px;
      font-style: italic;
    }
  }
}
#event {
  background: url("/media/background_triangle/triange_blue.svg");
  background-size: cover;
  #about {
    background-color: white;
  }
}
#venue {
  padding: 0;
  background: url("/media/borncc.jpg") no-repeat;
  background-size: cover;
}
#schedule {
  article {
    background: url("/media/background_triangle/triangulos_darkgray.svg");
    background-size: 2000px;
  }
  .schedule-saturday {
    color: white;
    background: $darkblue;
    min-height: 385px;
  }
  .schedule-sunday {
    color: white;
    background: $lightblue;
    min-height: 385px;

    .circle-text:after {
      background: $darkblue;
    }
  }
  .schedule-monday {
    color: white;
    background: $darkblue;
    min-height: 385px;
  }
  .schedule-tuesday {
    color: white;
    background: $lightblue;
    min-height: 385px;

    .circle-text:after {
      background: $darkblue;
    }
  }
  .circle-text {
    width: 50%;
  }
  .circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: $lightblue;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 50%;
  }
  .circle-text h4 {
    float: left;
    width: 100%;
    margin-left: 50%;
    padding-top: 30%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 26px;
  }
  .number {
    display: block;
    margin-top: 20px;
    font-size: 70px;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}

#sponsors-banner {
  a {
    line-height: 50px;
    display: block;
    height: 50px;
    min-width: 50px;
    color: black;
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .opportunity {
    background-image: url('/media/sponsors/sponsor.png');
    span {
      display: none;
    }
  }
}

#sponsors {
  a {
    line-height: 200px;
    display: block;
    height: 200px;
    min-width: 200px;
    color: black;
    background-size: 200px 200px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .opportunity {
    background-image: url('/media/sponsors/sponsor.png');
    span {
      display: none;
    }
  }
}

#partners {
  background-color: $gray;
  padding-bottom: 25px;
  a {
    height: 160px;
    display: block;
    background-size: 160px 160px;
    background-position: center;
    background-repeat: no-repeat;
    span {
      display: none;
    }
  }
  #partners-itnig {
    background-image: url("/media/partners/itnig.jpg");
  }
  #partners-barcinno {
    background-image: url("/media/partners/barcinno.jpg");
  }
  #partners-apidays {
    background-image: url("/media/partners/apidays.jpg");
  }
}
footer {
  color: white;
  font-size: 12px;
  background-color: $darkblue;
  min-height: 200px;
}
