@import "variables";
@import "fonts";
html,
button,
input,
select,
textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Merriweather', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', serif;
}
a {
  color: $lightblue;
  text-decoration: none;
}
dt {
  margin-top: 25px;
}
.page {
  padding: 0 55px;
  .meta dl {
    margin-left: 35px;
    dd {
      margin-left: 0;
    }
  }
}
hr {
  border: 2px solid white;
  width: 150px;
}
.promovideo {
  height: 125px;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.nav-logo span {
  display: none;
}
.pure-menu {
  padding-bottom: 0;
  padding-top: 0;
}
@import "objects/content";
@import "components/menu";
.page img {
  width: 100%;
}
.walking {
  height: 32px;
  background: white url("/media/walking.png") no-repeat;
  background-size: 30px;
  padding-left: 35px;
}
.hotel img {
  width: 100%;
  max-height: 200px;
}
section {
  .inner {
    padding: 5px;
  }
  h2 {
    padding: 0;
    margin: 0 0 10px;
    line-height: 120px;
  }
  h2 span {
    padding-bottom: 15px;
    text-transform: uppercase;
  }
}
.dark {
  color: white;
  h2 {
    color: white;
  }
  h2 span {
    border-bottom: 3px solid white;
  }
}
.bright {
  color: $darkblue;
  h2 {
    color: $darkblue;
  }
  h2 span {
    border-bottom: 3px solid black;
  }
}
#intro {
  background: url("/media/background_triangle/triange_blue.svg") repeat center;
  color: white;
  text-align: center;
  a {
    color: white;
  }
  .header {
    z-index: 99999;
    h1 {
      text-transform: uppercase;
      margin-left: 0;
    }
    p {
      margin-left: 0;
    }
  }
  h2 {
    line-height: 1.2em;
    margin: 0;
    text-transform: uppercase;
  }
  .address {
    a,
    span {
      font-family: 'Merriweather', serif;
      font-style: italic;
    }
    div {
      display: inline;
    }
  }
  .buy-tickets {
    font-family: 'Montserrat', serif;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 125%;
    border: 1px solid white;
    padding: 15px;
    background: rgba(0,0,0,0);
    text-transform: uppercase;
  }
  .buy-tickets:hover {
    background: white;
    color: $lightblue;
  }
}
#speakers {
  background: #374548;
  padding-bottom: 50px;
  .speaker {
    padding-left: 5px;
    width: 150px;
    height: 280px;
    float: left;
  }
  .speakers {
    margin-top: 40px;
    margin-bottom: 70px;
  }
  .person {
    color: white;
    text-decoration: none;
    width: 200px;
  }
  .person:hover {
    text-decoration: none;
    color: $lightblue;
  }
  .name{
      color: $lightblue;
      margin-top: 15px;
  }
  
  .portrait {
    height: 150px;
  }
  img {
    width: 150px;
    height: 150px;
    -webkit-filter: grayscale(1);
    filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'gs\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#gs");
    filter:gray;
  }
  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 58px 30px;
    border-color: transparent transparent $lightblue_opaque transparent;
    position: relative;
    top: -63px;
    right: -120px;
  }
  .meta {
    h3 {
      margin-bottom: 0;
    }
    p {
      margin-top: 5px;
      font-size: 12px;
      font-style: italic;
    }
  }
}
.page {
  .person {
    color: white;
    text-decoration: none;
    width: 200px;
    margin: 35px auto 0;
  }
  .person:hover {
    text-decoration: none;
    color: $lightblue;
  }
  .portrait {
    height: 150px;
  }
  img {
    width: 150px;
    height: 150px;
    -webkit-filter: grayscale(1);
    filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'gs\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#gs");
    filter:gray;
  }
  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 58px 30px;
    border-color: transparent transparent $lightblue_opaque transparent;
    position: relative;
    top: -63px;
    right: -120px;
  }
}
#event {
  background: url("/media/background_triangle/triange_blue.svg");
  background-size: cover;
  #about {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 150px;
    background: white url("/media/square.png") no-repeat;
    background-position: 50% 10px;
    background-size: 150px;
    text-align: center;
  }
  #sunjs {
    display: none;
    background: url("/media/sunjs_white.png") no-repeat;
    background-size: 100%;
    background-position: 50%;
  }
}
#venue {
  background: url("/media/borncc.jpg") no-repeat;
  background-size: cover;
  height: 500px;
  .content {
    background: rgba(0,0,0,0.5);
    height: 500px;
    padding: 0 4.1667%;
  }
  #map {
    display: none;
  }
}
#schedule {
  article {
    background: url("/media/background_triangle/triangulos_darkgray.svg");
    background-size: 2000px;
    height: 430px;
  }
  .schedule-saturday {
    color: white;
    background: $darkblue;
    min-height: 385px;
  }
  .schedule-sunday {
    color: white;
    background: $lightblue;
    min-height: 385px;
    .circle-text:after {
      background: $darkblue;
    }
  }
  .schedule-monday {
    color: white;
    background: $darkblue;
    min-height: 385px;
  }
  .schedule-tuesday {
    color: white;
    background: $lightblue;
    min-height: 385px;
    .circle-text:after {
      background: $darkblue;
    }
  }
  .circle-text {
    width: 50%;
  }
  .circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: $lightblue;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 50%;
  }
  .circle-text h4 {
    float: left;
    width: 100%;
    margin-left: 50%;
    padding-top: 30%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 26px;
  }
  .number {
    display: block;
    margin-top: 20px;
    font-size: 70px;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
}
#sponsors-banner {
  ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
    li {
      display: inline-block;
      height: 75px;
      width: 75px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 25px;
      a {
        display: block;
        height: 75px;
        color: black;
        border: 0;
        background-size: 75px;
        background-position: center;
        background-repeat: no-repeat;
      }
      span {
        display: none;
      }
    }
  }
  ul li:last-child {
    margin-right: 0;
  }
}

#sponsors {
  background-color: $gray;
  padding-bottom: 25px;
  ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
    li {
      display: inline-block;
      height: 200px;
      width: 200px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 50px;
      a {
        display: block;
        height: 200px;
        color: black;
        border: 0;
        background-size: 200px;
        background-position: center;
        background-repeat: no-repeat;
      }
      span {
        display: none;
      }
    }
  }
  ul li:last-child {
    margin-right: 0;
  }
}

#partners {
  background-color: $gray;
  padding-bottom: 25px;
  ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
    li {
      display: inline-block;
      height: 100px;
      width: 100px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 50px;
      a {
        display: block;
        height: 100px;
        color: black;
        border: 0;
        background-size: 100px;
        background-position: center;
        background-repeat: no-repeat;
      }
      span {
        display: none;
      }
    }
  }
  ul li:last-child {
    margin-right: 0;
  }
}
footer {
  padding: 4.1667%;
  color: white;
  font-size: 65%;
  background-color: $darkblue;
  min-height: 400px;
  h5 {
    font-size: 110%;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  div p {
    margin-left: 0;
  }
  li a,
  span {
    color: white;
    font-family: 'Merriweather', serif;
  }
  a:hover {
    color: $lightblue;
  }
  .meta,
  .links {
    display: none;
  }
}
@media screen and (min-width:35.5em) {

}
@media screen and (max-width:47.99999em) {
  ul.intro-pros li {
    display: block;
  }
}
@media screen and (min-width:48em) {
  .promovideo {
    height: 370px;
  }
  #intro {
    text-align: left;
    background: url("/media/beach.jpg") repeat-x center;
    .header {
      margin-left: 50%;
      padding-left: 25px;
    }
  }
  .speakers {
    padding-left: 8.3334%;
  }
  #event {
    padding-left: 8.3334%;
    .content {
      padding: 35px;
    }
  }
  footer {
    padding: 0;
    .meta,
    .links {
      display: block;
    }
  }
}
@media screen and (min-width:64em) {
  .page {
    padding: 0 16.6667%;
  }
  .promovideo {
    height: 385px;
  }
  #intro {
    padding-top: 50px;
    padding-left: 50px;
    text-align: left;
    min-height: 500px;
    hr {
      margin-left: 0;
    }
  }
  .mediterranean-menu-brand {
    margin-right: 50px;
  }
  .speakers {
    padding-left: 16.6667%;
  }
  #event {
    padding-left: 0;
    #about {
      background: white;
      padding: 0;
      margin: 0 0 0 25%;
      h2,
      p {
        margin: 15px;
      }
    }
    #sunjs {
      display: block;
    }
  }
  #venue {
    padding-left: 0;
    .content {
      margin-left: 25%;
      padding: 0;
      h2,
      h3,
      div {
        margin: 15px;
      }
    }
    #map {
      display: block;
    }
  }
}
@media screen and (min-width:80em) {
  .promovideo {
    height: 720px;
  }
  #intro {
    min-height: 600px;
  }
  #venue {
    .content {
      margin-left: 25%;
      h2,
      p {
        padding: 25px;
      }
    }
  }
  #event {
    #about {
      margin-left: 25%;
      text-align: left;
      h2,
      p {
        padding: 25px;
      }
    }
    #sunjs {
      background-size: auto;
      background-position: 50%;
    }
  }
}
@media screen and (max-width:62em) {
  .mediterranean-menu-screen {
    height: 50px;
  }
  .mediterranean-menu-bottom {
    position: absolute;
    width: 100%;
    border-top: 1px solid #eee;
    background-color: #808080\9;
    z-index: 100;
  }
  .mediterranean-menu-bottom .pure-menu-link {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
  }
}
