<h1>Agenda</h1>

<div class="pure-g">
  {{#agenda}}
  <section class="pure-u-1 pure-u-md-1-2">
    <header class="pure-u-1-1">
      <h2>{{day}}</h2>
      </head>
      {{#sessions}}
      <article class="pure-u-1-1 {{class}}">
        {{#speaker}}
          <div class="time pure-u-1">
            <h3>{{time}}</h3>
          </div>
          <div class="pure-g">
          <div class="pure-u-1-3">
            <div class="portrait">
              <img src="/media/speakers/{{id}}.jpg" alt="{{speaker}}" />
              <div class="triangle"></div>
            </div>
          </div>
          <div class="pure-u-2-3">
            <h4>{{title}}</h4>
            <span>{{speaker}}</span>
          </div>
        </div>
        {{/speaker}}
      {{^speaker}}
        <div class="time">
          <h3>{{time}}</h3>
        </div>
        <div class="{{class}}">
          <span>{{title}}</span>
        </div>
        {{/speaker}}
      </article>
      {{/sessions}}
  </section>
  {{/agenda}}
</div>

<h1>Workshops and other events</h1>
<h2>Friday, 19 June</h2>
<h3><a href="http://www.meetup.com/NodeBCN/events/219590688/">NodeJS Special Event by NodeBCN</a></h3>


<h2>Saturday, 20 June</h2>
<h3 id="smashingmag">Workshop: Smart Responsive Design Patterns &amp; Front-End Techniques</h3>
<div class="pure-g">

  <div class="pure-u-1 pure-u-md-1-4">
    <div class="person">
      <div class="portrait">
        <img src="/media/speakers/vitaly_friedman_2.jpg" alt="Vitaly Friedman" />
        <div class="triangle"></div>

      </div>
      <div class="name"> Vitaly Friedman</div>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    <p>
      <br> In this full-day workshop, Vitaly Friedman, editor-in-chief of Smashing Magazine, will present practical techniques, clever tricks and useful strategies you need to be aware of when working on any responsive design project. Most techniques are
      borrowed from mid-size and large-scale real-life projects, such as large e-commerce projects, online magazines and Web applications.</p>

    <p>We'll be looking at specific techniques for building well organised, front-end software, and wherever possible this work will be hands-on. Vitaly will introduce theories and ideas for dealing with common problems, and attendees will be assigned small
      tasks so they can experiment for themselves with these techniques. This will be involve a mixture of both individual and group work. There will be plenty of time allocated to discussions, so we can make sure that everyone understands how they can
      apply what they've learned to their specific working environments.</p>

    <p>In this workshop, you'll learn:</p>

    <ul>
      <li>Effective
        <strong>tools and techniques</strong> that can support and enhance your personal workflow when working on any responsive design project,</li>
      <li>An overview of clever practical techniques for improving UX as well as performance of responsive sites,</li>
      <li>
        <strong>Front-end strategies</strong> for scalable, resolution-independent graphics and maintainable CSS code,</li>
      <li>
        <strong>Responsive Design Patterns</strong> and innovative approaches to designing "responsive modules" such as tables, calendars, multi-level menus, maps and Web forms,</li>
      <li>
        <strong>Testing, debugging and maintenance techniques</strong> for responsive sites as well as lessons learned from Smashing Magazine's own redesign and
        <strong>performance optimizations</strong>,</li>
      <li>How to manage legacy browsers and deal with
        <strong>Internet Explorer 8 and Android 2.3</strong> in responsive projects,</li>
      <li>Technical issues (and solutions) for responsive advertising and
        <strong>responsive email newsletters</strong>,</li>
      <li>How the design processes should adapt in terms of the project management,
        <strong>deliverables</strong>, performance budgets, team organisation and strategy.</li>
    </ul>

    <p>This workshop is intended for professional designers, developers and everybody else who is dealing with responsive design regularly or wants to better understand responsive design in general. You should at least be familiar with some basics of responsive
      design, HTML5 and CSS.</p>

    <h3>What hardware/software do you need?</h3>

    <p>To get the most out of the workshop, you'll need to bring a laptop with your preferred text editor.</p>

    <div>
      <a href="http://tickets.mediterraneajs.eu">
        <strong>Register for this workshop</strong>
      </a>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-4 meta">
    <dl>
      <dt>On Twitter</dt>
      <dt>
      </dt>
      <dd><a href="http://twitter.com/smashingmag">@smashingmag</a></dd>
      <dt>Workshop includes</dt>
      <dt>
      </dt>
      <dd>
        <ul>
          <li>Snacks and drinks during the whole day</li>
          <li>Tea and coffee</li>
          <li>Lunch</li>
          <li>Paper and pen/pencil</li>
        </ul>
      </dd>
    </dl>
  </div>
</div>

<div class="pure-g">
  <section class="pure-u-1-1">
    <header class="pure-u-1-1">
      <h2>Sunday, 21 June</h2>
      </head>
      <article class="pure-u-1-1">
        RelaxJS
      </article>
  </section>
</div>
