<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<title>MediterraneaJS</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>

<body>

<div class="page">
    <header>
        <div class="wrap">            
            <h1 class="logo">
                <div class="logo-symbol"><img class="svg" src="imgs/sun.svg" alt="Sun" /></div>
                <div class="logo-name"><img class="svg" src="imgs/mediterraneajs.svg" alt="MediterráneaJS" /></div>
                <!--div class="logo-tagline">JavaScript. Mediterranean style.</div-->
            </h1>
            
            <blockquote>
                <p class="quote"><sup>"</sup>Mustache aesthetic locavore, bitters Pitchfork Austin try-hard Wes Anderson typewriter.<sup>"</sup></p>
                <cite><strong>Schlitz Portland,</strong> <i>CEO Cool Company</i></cite>
            </blockquote>
            
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Spearks</a></li>
                    <li><a href="#">Agenda</a></li>
                    <li><a href="#">Sponsors</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <section class="where">
        <h2 class="where-city">Barcelona, June 22 + 23, 2015</h2>
        <address>
            <img class="where-icon svg" src="imgs/google-marker.svg" alt="" />
            <div class="where-place">El Born CC</div>
            <div class="where-address">Plaça Comercial, 12 - 08003 Barcelona</div>
        </address>
        <button class="btn-large">REGISTER INTEREST</button>
    </section>
    <section class="sponsor">
        <div class="wrap">
            <div class="supporters-small">
            <a data-sponsor="Netcentric Ibérica SLU" target="_blank" href="http://www.netcentric.biz?utm_source=wenode&amp;utm_medium=sponsor&amp;utm_campaign=barcelonajs">
                <img alt="Netcentric Ibérica SLU" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-netcentric.jpg" class="">
            </a>
            <a data-sponsor="Rakuten" target="_blank" href="http://www.rakuten.com?utm_source=wenode&amp;utm_medium=sponsor&amp;utm_campaign=barcelonajs">
                <img alt="Rakuten" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-rakuten.jpg" class="">
            </a>
            <a data-sponsor="Joyent" target="_blank" href="http://www.joyent.com?utm_source=wenode&amp;utm_medium=sponsor&amp;utm_campaign=barcelonajs">
                <img alt="Joyent" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-joyent.jpg" class="">
            </a>
            <a data-sponsor="IBM" target="_blank" href="http://www.ibm.com/software/bluemix?utm_source=wenode&amp;utm_medium=sponsor&amp;utm_campaign=barcelonajs">
                <img alt="IBM" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-ibm.jpg" class="">
            </a>
            <a data-supporter="Mobile World Capital" target="_blank" href="http://mobileworldcapital.com?utm_source=wenode&amp;utm_medium=supporter&amp;utm_campaign=barcelonajs">
                <img alt="Mobile World Capital" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-mwc2x.jpg" class="">
            </a>
            <a data-supporter="Mobile World Centre" target="_blank" href="http://mobileworldcentre.com?utm_source=wenode&amp;utm_medium=supporter&amp;utm_campaign=barcelonajs">
                <img alt="Mobile World Centre" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-mwc.jpg" class="">
            </a>
            <a data-supporter="blended.io" target="_blank" href="http://www.blended.io?utm_source=wenode&amp;utm_medium=supporter&amp;utm_campaign=barcelonajs">
                <img alt="blended.io" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-blended.jpg" class="">
            </a>
            <a data-supporter="JobFluent" target="_blank" href="http://www.jobfluent.com?utm_source=wenode&amp;utm_medium=supporter&amp;utm_campaign=barcelonajs">
                <img alt="JobFluent" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-jobfluent.jpg" class="">
            </a>
            <a data-supporter="uber" target="_blank" href="http://www.uber.com?utm_source=wenode&amp;utm_medium=supporter&amp;utm_campaign=barcelonajs">
                <img alt="uber" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-uber.jpg" class="">
            </a>
            <a data-supporter="Velocity Conference" target="_blank" href="http://velocityconf.com/velocityeu2014?utm_source=wenode&amp;utm_medium=supporter&amp;utm_campaign=barcelonajs">
                <img alt="Velocity Conference" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-velocity.jpg" class="">
            </a>
            <a data-supporter="Microsoft" target="_blank" href="http://www.microsoft.com?utm_source=wenode&amp;utm_medium=supporter&amp;utm_campaign=barcelonajs">
            <img alt="Microsoft" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-microsoft.jpg" class="">
            </a>
            <a data-supporter="Rising Stack" target="_blank" href="http://www.risingstack.com?utm_source=wenode&amp;utm_medium=supporter&amp;utm_campaign=barcelonajs">
                <img alt="Rising Stack" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-risingstack.jpg" class="">
            </a>
            <a data-supporter="MongoDB" target="_blank" href="http://www.mongodb.com?utm_source=wenode&amp;utm_medium=supporter&amp;utm_campaign=barcelonajs">
                <img alt="MongoDB" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-mongodb.jpg" class="">
            </a>
            <a data-supporter="mediasmart" target="_blank" href="http://mediasmart.mobi?utm_source=wenode&amp;utm_medium=supporter&amp;utm_campaign=barcelonajs">
                <img alt="mediasmart" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-mediasmart.jpg" class="">
            </a>
            <a data-supporter="ArangoDB" target="_blank" href="https://www.arangodb.org?utm_source=wenode&amp;utm_medium=supporter&amp;utm_campaign=barcelonajs">
                <img alt="ArangoDB" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-arangodb.jpg" class="">
            </a>
            <a data-supporter="Socius Live" target="_blank" href="http://www.sociuslive.com?utm_source=wenode&amp;utm_medium=supporter&amp;utm_campaign=barcelonajs">
                <img alt="Socius Live" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-socius.jpg" class="">
            </a>
            <a data-supporter="Wayra" target="_blank" href="http://wayra.co?utm_source=wenode&amp;utm_medium=supporter&amp;utm_campaign=barcelonajs">
                <img alt="Wayra" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-wayra.jpg" class="">
            </a>
            <a data-supporter="MOB - Makers of Barcelona" target="_blank" href="http://www.mob-barcelona.com?utm_source=wenode&amp;utm_medium=supporter&amp;utm_campaign=barcelonajs">
                <img alt="MOB - Makers of Barcelona" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-mob.jpg" class="">
            </a>
            <a data-supporter="Itnig" target="_blank" href="http://itnig.net?utm_source=wenode&amp;utm_medium=supporter&amp;utm_campaign=barcelonajs">
                <img alt="Itnig" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-itnig.jpg" class="">
            </a>
            <a data-supporter="barcinno" target="_blank" href="http://www.barcinno.com?utm_source=wenode&amp;utm_medium=supporter&amp;utm_campaign=barcelonajs">
                <img alt="barcinno" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-barcinno.jpg" class="">
            </a>
            <a data-supporter="Atos" target="_blank" href="http://atos.net?utm_source=wenode&amp;utm_medium=supporter&amp;utm_campaign=barcelonajs">
                <img alt="Atos" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-atos.jpg" class="">
            </a>
            <a data-supporter="Col·legi Oficial d'Enginyeria Informàtica de Catalunya" target="_blank" href="http://enginyeriainformatica.cat?utm_source=wenode&amp;utm_medium=supporter&amp;utm_campaign=barcelonajs">
                <img alt="Col·legi Oficial d'Enginyeria Informàtica de Catalunya" src="http://wenode.barcelonajs.org/assets/images/logo-sponsor-coeinf.jpg" class="">
            </a>
        </div>
        </div>
    </section><!--/.sponsor-->
    
    <section class="motivation">
        <div class="wrap">
            <article>
                <p>WeNode &ndash; a one-day not-for-profit conference about node.js, server-side and embedded JavaScript technologies.</p>
                <p>Organised by BarcelonaJS for the community.</p>
            </article>
            <article>
                <p>WeNode &ndash; una conferencia d'un dia sense anim de lucre sobre node.js, i tecnologies server-side i embedded Javascript.</p>
                <p>Organitzat des de BarcelonaJS per a la comunitat.</p>
            </article>
            <article>
                <p>WeNode &ndash; una conferencia de un día sin animo de lucro sobre tecnologías node.js, server-side y embedded Javascript.</p>
                <p>Organizado desde BarcelonaJS para la comunidad.</p>
            </article>
        </div>
    </section>
    
    <section class="spearkers-form">
        <div class="typeform-widget" data-url="https://barcelonajs.typeform.com/to/IMvtxs" data-text="Mediterranea CFP" style="width:100%;height:400px;"></div>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
        <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="http://www.typeform.com/?utm_campaign=typeform_IMvtxs&amp;utm_source=website&amp;utm_medium=typeform&amp;utm_content=typeform-embedded&amp;utm_term=English" style="color: #999" target="_blank">Typeform<a/></div>
    </section>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>