<section id="speakers" class="pure-g dark">
  <header class="pure-u-1 center">
    <h2>
      <span>Speakers</span>
    </h2>
  </header>
  <div class="pure-u-1 pure-u-md-7-8 pure-u-lg-17-24 speakers">
    {{#speakers}}
    <div class="speaker">
      {{> person-preview}}
    </div>
    {{/speakers}}
  </div>
  <div class="pure-u-1-6"></div>
</section>

<section id="event" class="pure-g bright">
  <article id="about" class="content pure-u-1-1 pure-u-md-7-8 pure-u-lg-1-4">
    <h2>
      <span>About the Event</span>
    </h2>
    <p>MediterráneaJS is a 2-day not-for-profit by-the-community for-the-community international conference about JavaScript organised by BarcelonaJS.</p>
    <p>Much like the city of Barcelona, with MediterráneaJS we want to inspire. That's why the event is not happening in some boring, flat and simple conference center somewhere out of the city, but in one of the most 'fashionista' neighborhoods - 'El Born'
      - in the very center of Barcelona. We want you to explore, get lost, refresh and find yourself, in the talks as much as in Barcelona. Prepare to take home more than just a little bit more JavaScript.</p>
    <p>We've compiled some information on <a href="/barcelona.html#how">how to get to Barcelona</a>, <a href="/barcelona.html#where">where to stay</a> and <a href="/barcelona.html#what">what to do</a>.</p>
    <p>MediterráneaJS is dedicated to providing a harassment-free conference experience for everyone. Please read our <a href="/code_of_conduct.html">code of conduct</a>.</p>
  </article>
  <article id="sunjs" class="pure-u-1-4"></article>
</section>


<section id="venue" class="pure-g dark">
  <article class="content pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
    <header>
      <h2>
        <span>Venue</span>
      </h2>
    </header>
    <div itemscope itemtype="http://schema.org/Place">
      <h3>
        <span itemprop="name">El Born CC</span>
      </h3>
      <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">Plaça Comercial, 12</span>
        <span itemprop="postalCode">08003</span>,
        <span itemprop="addressLocality">Barcelona</span>,
        <span itemprop="addressRegion">Catalunya</span>
        <span itemprop="addressCountry">ES</span>
      </div>
    </div>
  </article>
  <article id="map" class="pure-u-1-4">
    <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/bcnjs.lfmk3ao6/attribution,zoompan,zoomwheel,geocoder.html?access_token=pk.eyJ1IjoiYmNuanMiLCJhIjoiOXhHUE55ayJ9.92MNNb9uO74n88PcoaPQCA'></iframe>
  </article>
</section>


<section id="schedule" class="pure-g center bright">
  <header class="pure-u-1">
    <h2>
      <span>Schedule</span>
    </h2>
    <h3>Friday 19: <a href="http://www.meetup.com/NodeBCN/events/219590688/">NodeJS pre-conference event by @NodeBCN</a></h3>
  </header>
  <article class="schedule-saturday pure-u-1 pure-u-md-1-4">
    <h3>Saturday</h3>
    <a href="/agenda.html">
      <div class="circle-text">
        <h4>June
          <br />
          <span class="number">20</span>
        </h4>
      </div>
    </a>
    <ul>
      <li>Smashing Magazine Workshop</li>
      <li>Mozilla Workshop</li>
    </ul>
    <p>More Workshops and details will be announced soon.</p>
  </article>
  <article class="schedule-sunday pure-u-1 pure-u-md-1-4">
    <h3>Sunday</h3>
    <a href="/agenda.html">
      <div class="circle-text">
        <h4>June
          <br />
          <span class="number">21</span>
        </h4>
      </div>
    </a>
    <p>RelaxJS
      <br />Various leisure activities throughout the city and of course the beach will be announced soon.</p>
  </article>
  <article class="schedule-monday pure-u-1 pure-u-md-1-4">
    <h3>Monday</h3>
    <a href="/agenda.html">
      <div class="circle-text">
        <h4>June
          <br />
          <span class="number">22</span>
        </h4>
      </div>
    </a>
    <p>Conference day.
      <br />Agenda will be announced soon.</p>
  </article>
  <article class="schedule-tuesday pure-u-1 pure-u-md-1-4">
    <h3>Tuesday</h3>
    <a href="/agenda.html">
      <div class="circle-text">
        <h4>June
          <br />
          <span class="number">23</span>
        </h4>
      </div>
    </a>
    <p>Conference day.
      <br />Agenda will be announced soon.</p>
  </article>
</section>
