<section id="intro" class="pure-g">
  <div class="header pure-u-1-2">
    <h1>MediterráneaJS</h1>
    <p>MediterráneaJS - a two-day not-for-profit conferece about JavaScript and digital technology. Organised by BarcelonaJS for the community.</p>
    <hr />
    <div itemscope itemtype="http://schema.org/Event">
      <a itemprop="url" href=""></a>
      <meta itemprop="startDate" content="2015-06-22T09:00"> 21. June 2015 9:30 a.m.
      <div itemprop="location" itemscope itemtype="http://schema.org/Place">
        <a itemprop="url" href="http://elborncentrecultural.bcn.cat">
          El Born CC
        </a>
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="addressLocality">Barcelona</span>,
        </div>
      </div>
      <a href="http://tickets.mediterraneajs.eu">Buy Tickets</a>
    </div>
  </div>
</section>

<section id="sponsors-banner" class="pure-g center">
  <a class="pure-u-4-24" href="mailto:sponsors@mediterraneajs.eu?subject=Sponsor Opportunity">[your logo here]</a>
  <a class="pure-u-4-24" href="mailto:sponsors@mediterraneajs.eu?subject=Sponsor Opportunity">[your logo here]</a>
  <a class="pure-u-4-24" href="mailto:sponsors@mediterraneajs.eu?subject=Sponsor Opportunity">[your logo here]</a>
  <a class="pure-u-4-24" href="mailto:sponsors@mediterraneajs.eu?subject=Sponsor Opportunity">[your logo here]</a>
  <a class="pure-u-4-24" href="mailto:sponsors@mediterraneajs.eu?subject=Sponsor Opportunity">[your logo here]</a>
  <a class="pure-u-4-24" href="mailto:sponsors@mediterraneajs.eu?subject=Sponsor Opportunity">[your logo here]</a>
</section>

<section id="speakers" class="pure-g">
  <div class="pure-u-1 center">
    <h2>Speakers</h2>
  </div>
  <div class="pure-u-1">
    {{#speakers}}
      <div class="pure-u-4-24">
      {{> speaker_preview}}
      </div>
    {{/speakers}}
  </div>
</section>

<section id="event" class="pure-g">
  <article class="pure-u-1-2">
    <h2>About the Event</h2>
    <p>YEAH</p>
  </article>
  <article class="pure-u-1-2">
    lalala
  </article>
</section>


<section id="venue"></section>
<section id="schedule"></section>
<section id="sponsors"></section>
<section id="supporters"></section>

<footer>
  &copy; 2015 MediterráneaJS.
</footer>
