<!DOCTYPE html>
<html lang="en">

<head>
  <title>MediterráneaJS</title>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="logo"><a href="/"><span>MediterráneaJS</span></a></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="orange">22-23 June 2015</h2>
        <h2 class="red text-uppercase">Barcelona • Spain</h2>
      </div>
    </div>
    {{{ yield }}}
  </div>

  <footer>
    <div class="container">
      <a href="/code-of-conduct">code of conduct</a>
    </div>
  </footer>
</body>

</html>
