@import "compass/css3";
@import "variables";
@import "bootstrap";

* {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif !important;
  color: $red;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px;
  background-color: $base;
}

.container {
  width: auto;
  padding: 0 15px;
}

a {
  color: #00B7FF;
}

.social {
  margin-top: 50px;
}

.logo {
  background: url('../images/mediterraneajs_transparent.png') no-repeat;
  height: 250px;
  width: 250px;
  margin: 0 auto;
  a {
    display: block;
    height: 250px;
    width: 250px;
  }
  span {
    display: none;
  }
}

legend {
  border-bottom: 1px solid $blue;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
  padding: 5px;
}

// helpers
.red {
  color: $red;
}

.orange {
  color: $orange;
}

.green {
  color: $green;
}
