<p>
	<img src="/media/speakers/alex_fernandez.jpg" alt="Alex Fernández" />
	<a href="http://slides.com/alexfernandez/fluid-architecture-mediterraneajs-2015#/" target="_blank">Slides</a> <!-- <a href="">Video</a> <a href="">Code</a> -->
</p>
<h1 id="alex-fern-ndez">Alex Fernández</h1>
<p>Alex Fernández is a software engineer specialized in Node.js and scalability. He is also the organizer of MadridJS and Node.js Madrid.</p>
<h1 id="the-fluid-architecture">The Fluid Architecture</h1>
<p>There is not a perfect architecture that fits all situations, how can we cope with requirements which are changing all the time? In this talk we will see how to rearchitect your systems while they are running, with some practical JavaScript examples.</p>
<p><a href="https://twitter.com/pinchito">@pinchito</a></p>
