<p><img src="/media/speakers/alvaro_lopez.jpg" alt="Alvaro Lopez"></p>
<h1 id="alvaro-lopez">Alvaro Lopez</h1>
<p>Currently OpenStack R&amp;D Engineering Manager at Red Hat. GNU Developer. Former OpenSolaris Core Contributor and GNOME developer. Alvaro has given more than 250 conferences and keynotes on Open Source related topics in the last few years.</p>
<p>Alvaro has +15 years of industry experience in Open Source development. In the past, he worked for Canonical as Product Strategy Engineering Manager, and for Sun Microsystems as Technical Lead for its Solaris organization.</p>
<h1 id="openstack">OpenStack</h1>
<p>OpenStack is a technology that is dramatially changing how cloud computing is deployed and operated. Given the adoption that it&#39;s having and the growth of its community, it is in a way &quot;the new Linux&quot; in many ways, and thus the attention it has been receiving lately.</p>
<p>This talk will introduce OpenStack for both a pragmatic and technical points of view. It will discuss what the technology is, how the community works, and will briefly cover how it can be easily deployed in proof of concept environments.</p>
<p><a href="https://twitter.com/alobbs">@alobbs</a></p>
