<h1 id="belen-albeza">Belen Albeza</h1>
<p>Computer engineer with experience in games, web and mobile development. I&#39;m passionate about coding and enjoy learning new technologies.</p>
<p>Specialties: game development, web development, iphone development</p>
<h1 id="game-development-with-js-and-phaser">Game Development with JS and Phaser</h1>
<p>Most games are done in C++ or other &quot;native&quot; languages, but there are times when being able to develop faster is valuable (prototypes, game jams, solo indie development, etc.). In this talk we will cover basic techniques of game development and how we can use them with the aid of Phaser, a JS game framework.</p>
<ul>
<li>Sprites and sprite lists</li>
<li>Collision detection</li>
<li>Game states</li>
<li>Scrolling backgrounds</li>
<li>Audio</li>
<li>Tiles</li>
<li>Physics</li>
<li>Etc!</li>
</ul>
<h2 id="why-do-you-think-people-should-love-this-talk-">Why do you think people should love this talk?</h2>
<p>People who are creative and love to do interactive stuff.
Game developers who are new to JavaScript.
JavaScript developers who want to start creating games.</p>
