<p><img src="/media/speakers/cj_silverio.jpg" alt="C J Silverio"></p>
<h1 id="c-j-silverio">C J Silverio</h1>
<p>C J Silverio has worked for many Silicon Valley startups, doing everything from smart cellphone apps to high-performance servers to user interface design to dev/ops. She is currently Director of Engineering at npm, Inc, where she leads the team running the npm registry.</p>
<h1 id="cheating-gall-s-law">Cheating Gall’s Law</h1>
<p>Or, how we split a monolith and lived to tell the tale. This is the story of how npm replaced its monolithic registry service with microservices. We rolled out the registry without any users noticing this huge change behind the scenes. Gall’s Law says that every complex working system must have evolved from a simple working system. So how do you get away with a rewrite like this? I’ll tell you how.</p>
<p><a href="https://twitter.com/alobbs">@alobbs</a></p>
