<p>
	<img src="/media/speakers/daniela_borges.jpg" alt="Daniela Borges" />
</p>
<h1 id="daniela-borges">Daniela Borges</h1>
<p>Daniela is a web development engineer that loves to play with Javascript. She is always searching to learn something new and gain new skills.</p>
<p>She loves running, dancing and photography, which makes her relax and observe the world. She is also a mentor of Coderdojo LX, an organization that provides free education to youths by teaching them how awesome is programming!</p>
<h1 id="what-is-hapiness">what-is-HAPIness</h1>
<p>In this talk we will understand better the HapiJS framework and the most relevant features of Hapi 8.x. We will talk a bit about the Walmart case study and their approach with the opensource community, some highly used plugins, and some useful examples that demonstrate how Hapi framework can enhance your apps.</p>
<p><a href="https://twitter.com/sericaia">@sericaia</a></p>
<p>
	<a href="http://t.co/MXUYzpXP8v" target="_blank"><h2>Slides</h2></a>
	<a href="https://t.co/WJBKQTeZIE" target="_blank"><h2>Code</h2></a>
</p>
