<p>
	<img src="/media/speakers/dmytrii_shchadei.jpg" alt="Dmytrii Shchadei" />
</p>
<h1 id="dmytrii-shchadei">Dmytrii Shchadei</h1>
<p>There are three qualities that describe me best - I learn faster than others, I love to create and I&#39;m so eager for more, that I forget to enjoy the present.</p>
<p>To be brief, I’m a talented person with fresh ideas and strong experience in various technologies regarding web development, especially front-end.</p>
<h1 id="how-to-reduce-mobile-network-latency-and-battery-drain-on-front-end">How to reduce mobile network latency and battery drain on Front-End</h1>
<p>Mobile networking is not a new beast, but still not fully understood by front-end developers. Seriously, It&#39;s not enough just to know that it is slow and has a high latency.
We should discuss core concepts of cellular network to better understand how our phones actually operate. It will lead us to new approaches and best practices, that will not only allow us to significantly reduce a battery consumption of our apps, but literally even reduce a latency in some scenarios. Again, we are still talking about front-end side optimizations.</p>
<h2 id="why-do-you-think-people-should-love-this-talk-">Why do you think people should love this talk?</h2>
<p>Just imagine, how exciting is that you, as a FRONT-END developer can reduce network LATENCY on a mobile device? Not mentioning the optimization of the battery usage.</p>
<p>And there is no browser tricks or magic. I will introduce a new concept for most of front-end devs - &quot;device power states&quot;. And embracing those knowledge lets us (front-end devs) to start using mobile network in a more effective and conscious way.</p>
<p><a href="https://twitter.com/MeTroFuN">@MeTroFuN</a></p>
<p>
	<a href="http://t.co/ShesHZKJ9f" target="_blank"><h2>Slides</h2></a>
</p>
