<p><img src="/media/speakers/dominic_tarr.jpg" alt="Dominic Tarr"></p>
<h1 id="omega-projects">Omega Projects</h1>
<p>Do you have an idea that will change the world?</p>
<p>Does it seem like it would make great science fiction?
Except that you are a programmer, and so you could just build it?
Is it a vague idea that is hard to explain?</p>
<p>Congratulations, you are one of the many people who have an Omega Project!
It may seem incredibly strange, but Omega Projects are very common
amongst programmers.<br>This talk is my observations on the experience of attempting to build
my omega project,
and also my observations on famous Omega Projects attempted from history.</p>
<p><a href="https://twitter.com/dominictarr">@dominictarr</a></p>
