<p><img src="/media/speakers/francisco_ferreira.jpg" alt="Francisco Ferreira"></p>
<h1 id="francisco-ferreira">Francisco Ferreira</h1>
<p>Craftsmanship is important, and a good focus on well written code is more important than ever if you want to ever touch it again. Join to see how writing tests and having a clean object oriented or functional style can drastically improve your life quality.</p>
<h2 id="javascript-craftsmanship">JavaScript Craftsmanship</h2>
<p>Full stack Software Engineer at eBay specialized in front end, with a passion for software development, product management, user experience and finance. Very competitive engineer with team spirit.</p>
<p><a href="https://twitter.com/fmsf303">@fmsf303</a></p>
