<p>
	<img src="/media/speakers/garann_means.jpg" alt="Garann Means" />
	<a href="https://t.co/1YkNjNsNHU" target="_blank">Slides</a> <!-- <a href="">Video</a> <a href="">Code</a> -->
</p>
<h1 id="garann-means">Garann Means</h1>
<h1 id="code-is-a-job">Code is a job</h1>
<p>Writing great code is a challenge. We have to use the best frameworks, spend every hour of every day at the keyboard.. The key to writing great code, we&#39;re told, is passion. But what if, in order to write great code, we need to do exactly the opposite? Code is a job, after all. What if the simplest way to improve our code is to treat it like one?</p>
<p><a href="https://twitter.com/garannm">@garannm</a></p>
