<p><img src="/media/speakers/ingvar_stepanyan.jpg" alt="Ingvar Stepanyan"></p>
<h1 id="ingvar-stepanyan">Ingvar Stepanyan</h1>
<p>JavaScript developer, speaker and reverse engineer. Obsessed D2D programmer. Sometimes human.</p>
<h1 id="es6-concurrency-">es6.concurrency()</h1>
<p>Concurrency is an important topic for any data-processing applications (multimedia, graphics, calculations etc.).
However, in JavaScript it’s never been easy to make the code work in parallel – initially you had no options for that, and after years of demand all that you got was pretty basic Web Worker API which makes you to split the code into complicated client-server system which can communicate only via self-made messages. This affected both architecture complexity and readability of your code, making it extremely hard to parallelize already written code.
But now, new ECMAScript APIs are coming and they are going to change literally everything – so let’s see how we can use them to breathe parallelism into our apps.</p>
<h2 id="why-do-you-think-people-should-love-this-talk-">Why do you think people should love this talk?</h2>
<p>A lot of people work with data-heavy applications, and they usually want to improve responsiveness for end-users. But, for most apps, it&#39;s not that easy to make already existing code work with Web Workers, especially when parallelized code needs to access DOM or to be controlled by user actions.</p>
<p><a href="https://twitter.com/RReverser">@RReverser</a></p>
