<p><img src="/media/speakers/javier_arias.jpg" alt="Javier Arias"></p>
<h1 id="javier-arias">Javier Arias</h1>
<p>Senior Software Engineer, working as hands-on software architect and developer, experience in different sectors such as M2M, Telcos, Finance and Airports.</p>
<p>Working since 1997 in development, software architecture, systems Integration.</p>
<p>Broad experience software engineering: Agile, Object-Oriented, Design patterns, Continuous Integration and Automated Testing: TDD, Component tests, End to end.</p>
<p>Worked with different programming languages (mainly Java, Python, Javascript and Smalltalk), Messaging systems (RabbitMQ, ActiveMQ, TIBCO, MQ-Series) and both SQL (MySql, Oracle, Sybase) and No-Sql (Redis, Mongodb, ...) databases.</p>
<p>Deep interest in technology, distributed systems and development. Regularly gives talks on various venues.</p>
<h1 id="es6-metaprogramming-unleashed">ES6 Metaprogramming Unleashed</h1>
<p>ES6 delivers some exciting metaprogramming capabilities with its new Proxies feature.</p>
<p>Metaprogramming is powerful, but remember: &quot;With great power comes great responsibility&quot;.</p>
<p>In the talk we will shortly revisit Javascript metaprogramming and explain ES6 Proxies with code examples.</p>
<h2 id="why-do-you-think-people-should-love-this-talk-">Why do you think people should love this talk?</h2>
<p>Metaprogramming is fun, powerful and risky...</p>
<p><a href="https://twitter.com/javier_arilos">@javier_arilos</a></p>
