<p><img src="/media/speakers/kris_kowal.jpg" alt="Kris Kowal"></p>
<h1 id="kris-kowal">Kris Kowal</h1>
<p>Kris Kowal produced the CommonJS modules specification, since popularized by Node.js and npm, and brought the Q promise library to maturity. Currently, they are involved in the development of TChannel at Uber, a tool for service discovery and reliable RPC.</p>
<h1 id="general-theory-of-reactivity">General Theory of Reactivity</h1>
<p>In 1905, Einstein created a theory of special relativity that unified the concepts of space and time, and went on to incorporate gravity, to bring the three fundamentals of physical law into a single model. In JavaScript, we are arriving at a similar, unified model where values in both space and time have related interfaces. A General Theory of Reactivity unifies the temporal concepts of promises, observables, behaviors, and streams and relates them to their spatial counterparts of values, collections, iterators, and generators.</p>
<p><a href="https://twitter.com/kriskowal">@kriskowal</a></p>
