<p><img src="/media/speakers/nicolas_grenie.jpg" alt="Nicolas Grenié"></p>
<h1 id="nicolas-greni-">Nicolas Grenié</h1>
<p>Nicolas is a Hacker in Residence at 3scale living between Barcelona and San Francisco. He built his first website in 2000 using Microsoft Word, and since them did not stop learning about programming. Nicolas has built many projects around APIs using JS stack like APIs.io or APIbunny. When not working you have a good chance to find him hacking on side projects or enjoying a good craft beer. And of course, as he is French, frog and snails are part of his daily diet!</p>
<h1 id="building-hypermedia-apis-in-javascript">Building Hypermedia APIs in JavaScript</h1>
<p>With each passing day the world is becoming more and more API-driven. When building an API there are many design options and Hypermedia is the new emerging way of designing APIs. Hypermedia APIs are widely used by companies such as Paypal and Amazon.</p>
<p>In this session I will discuss the principles of Hypermedia APIs and the different ways to implement one in Node.js. I will first introduce you to a basic implementation using Express and then move on to a more advanced solution using a dedicated framework: Fortune.js and Halacious in complement of HapiJS.</p>
<p>I will also share my experience of building APIbunny (<a href="http://apibunny.com">http://apibunny.com</a>), an API-driven easter game. We&#39;ve built two versions, using two different frameworks.</p>
<p>Why do you think people should love this talk? Hypermedia is a new topic, on the &quot;hype&quot; with a lot of curiosity.</p>
<p>Why do you think people should love this talk?
Hypermedia is a new topic, on the &quot;hype&quot; with a lot of curiosity.</p>
<p><a href="https://twitter.com/picsoung">@picsoung</a></p>
