<p><img src="/media/speakers/sven_anders_robbestad.jpg" alt="Sven Anders Robbestad"></p>
<h1 id="build-android-and-ios-apps-in-javascript-with-react-native">Build Android and iOS apps in JavaScript with React Native</h1>
<p>Alex Fernández is a Spanish software engineer with 15+ years of experience. Specialized in scalability engineering, both in his day job at MediaSmart Mobile and as a freelance consultant. Speaker at local and international conferences and instructor.</p>
<h1 id="build-android-and-ios-apps-in-javascript-with-react-native">Build Android and iOS apps in JavaScript with React Native</h1>
<p>Use ReactJS to Build Native Apps.</p>
<h2 id="why-do-you-think-people-should-love-this-talk-">Why do you think people should love this talk?</h2>
<p>This talk will show you how to create a JavaScript React app that can be deployed as a native app.</p>
<p><a href="https://twitter.com/svenardocom">@svenardocom</a></p>
