<p><img src="/media/speakers/sven_anders_robbestad.jpg" alt="Sven Anders Robbestad"></p>
<h1 id="sven-anders-robbestad">Sven Anders Robbestad</h1>
<h1 id="build-android-and-ios-apps-in-javascript-with-react-native">Build Android and iOS apps in JavaScript with React Native</h1>
<p>Use ReactJS to Build Native Apps.</p>
<h2 id="why-do-you-think-people-should-love-this-talk-">Why do you think people should love this talk?</h2>
<p>This talk will show you how to create a JavaScript React app that can be deployed as a native app.</p>
<p><a href="https://twitter.com/svenardocom">@svenardocom</a></p>
