<p>
	<img src="/media/speakers/thomas_steiner.jpg" alt="Thomas Steiner" />
	<a href="https://docs.google.com/presentation/d/1FDJgCuNVbN4PWnD2IHW01zpSlcuuXZOCRgmlEtB2F8Q/edit#slide=id.i0" target="_blank">Slides</a> <!-- <a href="">Video</a> <a href="">Code</a> -->
</p>
<h1 id="dr-thomas-steiner">Dr. Thomas Steiner</h1>
<p>In his day job, Thomas Steiner—or simply Tom—works as an Ads Solutions
Engineer at Google in Hamburg, Germany. At the same time, he does
research on all sorts of applications of the Semantic Web in his role
as a Postdoctoral Researcher at the Université de Lyon, France. He
holds a PhD from the Universitat Politècnica de Catalunya, Barcelona,
Spain. Tom is tomayac on GitHub, Twitter, and his blog tomayac.com. </p>
<h1 id="disaster-detection-and-monitoring-with-wikipedia-and-javascript">Disaster Detection and Monitoring with Wikipedia and JavaScript</h1>
<p>In this talk, I will describe a global and language-independent
detection and monitoring system for disasters based on exactly 287
Wikipedia realtime edit streams. I use Node.js on the server and
vanilla JavaScript on the client, including a little-known browser API
called Server-Sent Events. The source code of the application is
shared under the permissive Apache 2.0 license, so that others can
build upon it and extend it. Be safe!</p>
<p><a href="https://twitter.com/tomayac">@tomayac</a></p>
