<p><img src="/media/speakers/verena_brodbeck.jpg" alt="Verena Brodbeck"></p>
<h1 id="verena-brodbeck">Verena Brodbeck</h1>
<p>Former physician and neuroscientist, discovered late in life that web programming is the hidden professional dream designation.
After a career switch 2 years ago, now happily employed frontend developer and JS apprentice. Also music lover and wanna be chef - in a next life.</p>
<h1 id="love-at-first-language">Love at first language</h1>
<p>Why JS was a great choice as a first language for a late beginner in programming. Experienced multi-lingual programmers seem to have a hard time with some of JS&#39; concepts. For a beginner, new to any programming, it might be that exactly this allows for a special love story with JS. I&#39;ll talk about my late entrance into the world of programming, a love story by itself, and by way of a concrete JS language feature I&#39;ll show how the beginner’s point of view can be different, and maybe even an advantage to learning the concepts of JS.</p>
<p><a href="https://twitter.com/viddity">@viddity</a></p>
