<p>
	<img src="/media/speakers/verena_brodbeck.jpg" alt="Verena Brodbeck" />
</p>
<h1 id="verena-brodbeck">Verena Brodbeck</h1>
<p>Former physician and neuroscientist, discovered late in life that web programming is the hidden professional dream designation.
After carreer switch 2 years ago, now happily employed frontend developer and JS apprentice. Also music lover and wanna be chef - in a next life.</p>
<h1 id="love-at-first-language">Love at first language</h1>
<p>Experienced multilingual programmers seem to have a hard time with some of JS&#39;s concepts. For a beginner, new to any programming, it might be that exactely that allows for a special love story with JS.
Using scope as an example my talk will be about a late entrance to the world of programming, a love story by itself, and how the beginner’s angle is different if not an advantage to learn basic concepts of JS.</p>
<p><a href="https://twitter.com/viddity">@viddity</a></p>
<p>
	<a href="https://speakerdeck.com/viddity/love-at-first-language" target="_blank"><h2>Slides</h2></a>
</p>
	
