.mediterranean-menu-wrapper {
  background-color: white;
  white-space: nowrap;
  position: fixed;
  z-index:9999999;
  width: 100%;
}
.mediterranean-menu {
  height: 80px;
  line-height: 80px;
  display: inline-block;
  width: auto;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}
.pure-menu-item {
  height: 80px;
  line-height: 60px;
  padding-bottom: 0;
}

.mediterranean-menu .pure-menu-link,
.mediterranean-menu .pure-menu-heading {
  color: $lightblue;
  font-family: 'Montserrat', serif;
}
.mediterranean-menu-brand {
  display: block;
  width: 250px;
  height: 80px;
  background: url("/media/mediterraneajs.png") no-repeat;
  background-size: 100%;
  background-position: center;
  padding: 0;
  span {display: none;}
}
.mediterranean-menu-toggle {
  width: 44px;
  height: 44px;
  display: block;
  position: absolute;
  top: 3px;
  right: 0;
}
.mediterranean-menu-toggle .bar {
  background-color: $lightblue;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 22px;
  right: 12px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.mediterranean-menu-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}
.mediterranean-menu-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mediterranean-menu-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.mediterranean-menu-screen {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  height: 0;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.mediterranean-menu-tucked .mediterranean-menu-screen {
  -webkit-transform: translateY(-44px);
  -moz-transform: translateY(-44px);
  -ms-transform: translateY(-44px);
  transform: translateY(-44px);
}
.pure-menu-item a {
  color: $blue;
  font-family: 'Montserrat', serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  padding-top: 1px;
}
.pure-menu-item a:hover,
.pure-menu-item a.active {
  height: 60px;
  line-height: 60px;
  padding-bottom: 0;
  background-color: white;
  border-bottom: 9px solid $lightblue;
}